@box-nav-start-bg: #231e44;
@box-nav-end-bg: #4729a5;

@bg-female: #fc42a4;
@bg-male: #5534e0;

@cash-start-bg: #d926e3;
@cash-end-bg: #313be5;

@wast-color: #f36;
@wast-bg: #1c1b34;

@simple-font-color: #b09bff;

@bdc-01: #916de2;
@bdc-02: #fb47ab;
@bdc-03: #b063d2;
@bdc-04: #c15dca;
